<footer class="site-footer seccion fixed-bottom">
    <div class="contenedor contenedor-footer">
        <!--<nav id="navegacion" class="navegacion">
            <a routerLink="/inicio" >Inicio</a>
            <a routerLink="/homeAdmin"> Iniciar Sesion</a>
            <a routerLink="/registrarse" >Registrarse</a>
            <a routerLink="/contacto" >Contacto</a>                              
        </nav>-->
        <p class="copyright">Todos los Derechos Reservados 2020 &copy; </p>
    </div>
</footer>