<fieldset class="contenedor">
    <legend class="seleccionar">Seleccione una opción</legend>
        <div class="row row-cols-1 row-cols-md-4" >
            <div class="col mb-4">
                <div class="card" >
                    <a routerLink="/ordenes" class="imagenes-menu">
                        <img src="../../assets/img/ordenes.jpg" class="card-img-top" alt="opción ordenes">
                    </a>
                    <!-- <ng-template #isfalse>
                        
                    </ng-template> -->
                </div>
            </div>
            <div class="col mb-4" >
                <div class="card">
                    <a routerLink="/menu" class="imagenes-menu">
                        <img src="../../assets/img/MENù.jpg" class="card-img-top" alt="opción menu">
                    </a>
                    <!-- <ng-template #isfalse>
                        
                    </ng-template> -->
                </div>s
            </div>
            <div class="col mb-4">
                <div class="card">
                    <a routerLink="/empleados" class="imagenes-menu">
                        <img src="../../assets/img/EMPLEADOS.jpg" class="card-img-top" alt="opción empleados">
                    </a>
                
                </div>
            </div>
            <div class="col mb-4" >
                <div class="card">
                    <a routerLink="/opiniones" class="imagenes-menu">
                        <img src="../../assets/img/opiniones.jpg" class="card-img-top" alt="opción opiniones">
                    </a>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-4 contenido-centrado">
            <div class="col mb-4" >
                <div class="card">
                    <a routerLink="/promociones" class="imagenes-menu">
                        <img src="../../assets/img/promociones.jpg" class="card-img-top" alt="opción promociones">
                    </a>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card" >
                    <a routerLink="/publicidad" class="imagenes-menu">
                        <img src="../../assets/img/pagina informativa.png" class="card-img-top" alt="opción publicidad">
                    </a>
                </div>
            </div>
            <div class="col mb-4" >
                <div class="card">
                    <a routerLink="/inicio-movil" class="imagenes-menu">
                        <img src="../../assets/img/Pagina Inicio.png" class="card-img-top"
                            alt="opción pagina inicio">
                    </a>
                </div>
            </div>
            <div class="col mb-4" >
                <div class="card">
                    <a routerLink="/reportes" class="imagenes-menu">
                        <img src="../../assets/img/REPORTES.jpg" class="card-img-top"
                            alt="opción reportes">
                    </a>
                </div>
            </div>
        </div>
    <!-- <div role="banner" *ngIf="loginService.estaLogeado()" >
        <button mat-menu-item (click)="loginService.cerrarSesion()" (click)="sidenav.opened = false">
            <mat-icon>exit_to_app</mat-icon>
            <span>Cerrar Sesión</span>
        </button>
    </div> -->

</fieldset>



    

