.contenedor{
    display: flex;
    flex-direction: column;
}


.contenedor > *{
    width: 100%;
}

.titulo{
    display: flex;
    justify-content: center;
}
h6{
    text-align: left;
}
.info{
    display: flex;
    justify-content: space-between;
}
.info-general{
    display: flex;
    flex-direction: column;
    border-right: thin solid #000000;
    margin-right: 25px;
    padding-right: 10px;
    width: 300px;
}
.info-receta{
    display: flex;
    flex-direction: column;
    width: 300px;
}
.botones{
    display: flex;
    justify-content: center;
}
.botones button{
    margin: 10px 15px;
}
.botones button:last-of-type{
    margin-right: 0;
}
p{
   display: flex;
   justify-content: center;
   margin: 8px 0; 
}
.ingrediente-dinamico{
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.btn-agregar{
    border-radius: 50px;
    padding: 0 5px;
}

.errores{
    margin-top: -15px;
    font-size: 12px;
    color: red;
}

.tabla-ingredientes {
    height: 300px;
    overflow: auto;
  }
