
<fieldset class="contenedor">
    <legend class="seleccionar">Seleccione una opción</legend>
    <div class="row row-cols-1 row-cols-md-4 contenido-centrado">
        <div class="col mb-4">
            <div class="card">
                <a routerLink="/ordenes" class="imagenes-menu">
                    <img src="../../assets/img/ordenes.jpg" class="card-img-top" alt="opción ordenes">
                </a>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <a routerLink="/promociones" class="imagenes-menu">
                    <img src="../../assets/img/promociones.jpg" class="card-img-top" alt="opción promociones">
                </a>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <a routerLink="/opiniones" class="imagenes-menu">
                    <img src="../../assets/img/opiniones.jpg" class="card-img-top" alt="opción opiniones">
                </a>
            </div>
        </div>

    </div>

    <!-- <div role="banner" *ngIf="loginService.estaLogeado()" >
        <button mat-menu-item (click)="loginService.cerrarSesion()" (click)="sidenav.opened = false">
            <mat-icon>exit_to_app</mat-icon>
            <span>Cerrar Sesión</span>
        </button>
    </div> -->

</fieldset>



    