<div class="margen">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <!-- <li class="nav-item dropdown breadcrumb-item menu-desplegable">
                <a class="dropdown-toggle boton-desplegable" routerLink="/homeAdmin" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Menú Principal
                </a>
                <div class="dropdown-menu contenido-desplegable" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" routerLink="/empleados">Empleados</a>
                  <a class="dropdown-item" routerLink="/reportes">Reportes</a>                  
                  <a class="dropdown-item" routerLink="/menu">Opciones de Menu</a>
                  <a class="dropdown-item" routerLink="/opiniones">Opiniones</a>
                  <a class="dropdown-item" routerLink="/ordenes">Ordenes</a> 
                  <a class="dropdown-item" routerLink="/promociones">Promociones</a> 
                  <a class="dropdown-item" routerLink="/paginfo">Pagina Informativa</a> 
                </div>
              </li> -->
              <li class="breadcrumb-item">
                <a routerLink="/homeAdmin">
                    Menú Principal
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Reportes
            </li>
        </ol>
    </nav>
    <h2 class="titulo">Reportes Administrativos</h2>
    <div class="row row-cols-1 row-cols-md-3 contenido-centrado contenedor">
        <div class="col mb-3">
            <div class="card">
                <a routerLink="/reporteEmpleados" class="imagenes-menu">
                    <img src="../../assets/img/ReporteEmpleados.jpg" class="card-img-top" alt="Reportes empleados">
                </a>
            </div>
        </div>
        <div class="col mb-3">
            <div class="card">
                <a routerLink="/reporteMenu" class="imagenes-menu">
                    <img src="../../assets/img/ReporteMenu.jpg" class="card-img-top" alt="Reportes menu">
                </a>
            </div>
        </div>
        <div class="col mb-3">
            <div class="card">
                <a routerLink="/reporteVentas" class="imagenes-menu">
                    <img src="../../assets/img/ReporteVentas.jpg" class="card-img-top" alt="Reportes ventas">
                </a>
            </div>
        </div>
    </div>
</div>