<form [formGroup]="form" (ngSubmit)="accionCrear()" class="contenedor">
    <h3 class="titulo">Creación de Publicidad</h3>
    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="id" formControlName="id">
        </mat-form-field>
    </div>
    <div class="info">
        <div class="info-general">
            <h6>Información General</h6>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Nombre" formControlName="nombre" required>
            </mat-form-field>

            <!-- <mat-form-field class="example-full-width">
                <input matInput placeholder="Precio" formControlName="precio" type="number" required>
                <span matPrefix>$&nbsp;</span>
            </mat-form-field> -->

            <button mat-stroked-button color="primary" onclick="document.getElementById('inFotoPlato').click();"
                type="button">
                <mat-icon>insert_photo</mat-icon>
                <span>Subir Imagen</span>
            </button>
            <input type="file" accept=".png , .jpg"  style="display: none;" id="inFotoPlato" (change)="seleccionar($event)">
            <p>{{labelFile}}</p>
            
            <!-- <mat-form-field class="example-full-width">
                <input matInput placeholder="Detalle / Ingredientes" formControlName="detalle" required>
            </mat-form-field> -->
            <!-- <mat-form-field class="example-full-width">
                <input matInput placeholder="Imagen" formControlName="imagen"  required>
            </mat-form-field> -->
            <!-- <mat-form-field class="example-full-width">
                <input matInput placeholder="Ingrediente 2" formControlName="ingrediente2" required>
            </mat-form-field>
            <button mat-stroked-button color="primary">
                <mat-icon>add_circle_outline</mat-icon>
                <span>Añadir Ingrediente</span>
            </button> -->
        </div>
    </div>
    <div class="botones">
        <button mat-raised-button color="primary" type="submit" [disabled] ="form.invalid">
            <mat-icon>done</mat-icon>
            <span>Crear</span>
        </button>
        <button mat-raised-button color="accent" (click)='cerrar()' routerLink="/publicidad" type="button">
            <mat-icon>close</mat-icon>
            <span>Cancelar</span>
        </button>
    </div>
</form>

